@{
    ViewData["Title"] = "Music Store";
}
<section>
    @{foreach(Disco disco in @ViewBag.Lista.Discos)
    {
        <div> 
        <p> @disco.Nombre</p>
        <img src = @disco.Foto alt = @disco.Nombre>
        <a href='@Url.Action("InfoDisco", "Home", new { ID = disco.ID })' class = "button"> Ver más info del disco</a>
        </div> 
    }
    }
</section>