<p> Nombre: @ViewBag.Disco.Nombre</p>
<p> Artista: @ViewBag.Disco.Artista</p>
<p> Productor: @ViewBag.Disco.Productor</p>
<p> Género: @ViewBag.Disco.Genero</p>
<img src = /@ViewBag.Disco.Foto alt = @ViewBag.Disco.Nombre class="pordisco">
<ul>
<h3>Canciones</h3>
@{  
    foreach(string tema in @ViewBag.Disco.Temas)
    {
        
        <li>@tema</li>
    }
}
</ul>
<a href='@Url.Action("Index","Home")' class = "button">Volver a la pagina principal</a>