<h5> Nombre: @ViewBag.Disco.Nombre</h5>
<h5> Artista: @ViewBag.Disco.Artista</h5>
<h5> Productor: @ViewBag.Disco.Productor</h5>
<h5> Género: @ViewBag.Disco.Genero</h5>
<section>
<img src = /@ViewBag.Disco.Foto alt = @ViewBag.Disco.Nombre class="pordisco">
</section>
<ul>
<h3>Canciones</h3>
@{  
    foreach(string tema in @ViewBag.Disco.Temas)
    {
        
        <li>@tema</li>
    }
}
</ul>
<section>
<a href='@Url.Action("Index","Home")' class = "boton">Volver a la pagina principal</a>
</section>
